table
{
  border: #EC5959;
  margin: auto;
  border-collapse: collapse;
  background-color: #E3E2E2;
  border-style: solid;

}

td{
	font-family: verdana;
	text-align: center;
}






